    <h3 class="service-description-logo text-center">口コミ探偵とは。</h3>
    <h6>
      <div class="service-description text-center">
        Googleの口コミからサクラと思われる投稿を除去して算出した<br>
        <span class="font-weight-bold">
          「厳選された星評価」
        </span>
        <span data-toggle="tooltip" title="文字数50文字以上、投稿件数20件以上の投稿者に絞った評価" data-placement="bottom">
          <i class="fas fa-info-circle" style="color: #25A7BC;"></i>
        </span>
        を知れるアプリ
      </div>
    </h6>

    <section class="text-center box-section">
      <h3 class="my-3 mx-5 font-weight-bold text-center" style="color:#1A0DAB; width: 100%;">直近の調査結果</h3>

      <div class="mt-3 mb-3 mx-5 recent-result">
        <% @result_histories.each do |result_history| %>
        <div class="box30">
          <div class="box-title"><span data-toggle="tooltip" title="クリックするとより詳細な情報を閲覧することが出来ます"
              data-placement="top"><%= link_to result_history.place.place_name, result_path(result_history.id),{class: "place_name"} %>
          </div>
          <div class="box-contents font-weight-bold">
            Google星評価：<%= result_history.star_ave %>
            <br class="br-sp">
            →厳選された星評価：<%= result_history.credible_star_ave %>
          </div>
        </div>
        <% end %>
      </div>
    </section>
