<h2 class="mt-3 mb-3">直近の検索結果</h2>
    <% @result_histories.each do |result_history| %>
        <p>店舗名：<%= result_history.place.place_name %></p>
        <p>住所：<%= result_history.place.address %></p>
        <p>厳選された星評価：<%= result_history.credible_star_ave %></p>
        <%= link_to "詳細へ", result_path(result_history.id) %>
    <% end %>
<p>＊厳選された星評価＝文字数50文字以上かつ投稿件数20件以上の投稿者に絞った場合の星評価</p>
